<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explora la naturaleza salvaje y vive emocionantes aventuras al aire libre con nosotros. ¡Descubre tu lado más aventurero!">
    <meta name="robots" content="index">
    <meta name="robots" content="follow">
    <meta name="author" content="Guillermo Pimentel González">
    <meta name="keywords" content="aventuras, naturaleza, deporte">
    <meta name="category" content="spanish, spain, aventuras">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <title>Aventuras Gato Pardo</title>
    <link href="../lightbox/css/lightbox.css" rel="stylesheet" >
</head>
<body class="pag-principal">
    <header class="index-header">
        <section class="caja-principal-header">
            <div class="foto-header">
                <img src="../assets/images/header/logo.jpg" alt="logo" class="logo" width="1024" height="1024">
            </div>
            <div class="titulo-header">
                <h1>Aventuras Gato Pardo</h1>
                <h2>Toda clase de experiencias deportivas en plena naturaleza</h2>
            </div>
        </section>
        <nav class="index-nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/galeria.html" class="activo">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
            
        </nav>
    </header>

   <main class="g-main">
        <div class="titulo-general-galeria">
            <h2>¡imagenes de nuestros clientes pasándolo en grande!</h2>
        </div>
        <section class="container-general">
            <div class="container-galeria">
                <div class="titulo-galeria">
                    <h3>escalada</h3>
                    <p>¿Te atreverás a subir con nosotros?</p>
                </div>
                <div class="galeria">
                    <a href="../assets/images/galeria/escalada/escalada1.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada1.jpg" alt="escalada"></a>
                    <a href="../assets/images/galeria/escalada/escalada2.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada2.jpg" alt="escalada"></a>
                    <a href="../assets/images/galeria/escalada/escalada3.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada3.jpg" alt="escalada"></a>
                    <a href="../assets/images/galeria/escalada/escalada4.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada4.jpg" alt="escalada"></a>
                    <a href="../assets/images/galeria/escalada/escalada5.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada5.jpg" alt="escalada"></a>
                    <a href="../assets/images/galeria/escalada/escalada6.jpg" data-lightbox="escalada" data-title="Escalada"><img src="../assets/images/galeria/escalada/escalada6.jpg" alt="escalada"></a>
                </div>
            </div>

            <div class="container-galeria">
                <div class="titulo-galeria">
                    <h3>barranquismo</h3>
                    <p>¡Podrás saltar al agua desde acantilados!</p>
                </div>
                <div class="galeria">
                    <a href="../assets/images/galeria/barranquismo/barranquismo1.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo1.jpg" alt="barranquismo"></a>
                    <a href="../assets/images/galeria/barranquismo/barranquismo2.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo2.jpg" alt="barranquismo"></a>
                    <a href="../assets/images/galeria/barranquismo/barranquismo3.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo3.jpg" alt="barranquismo"></a>
                    <a href="../assets/images/galeria/barranquismo/barranquismo4.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo4.jpg" alt="barranquismo"></a>
                    <a href="../assets/images/galeria/barranquismo/barranquismo5.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo5.jpg" alt="barranquismo"></a>
                    <a href="../assets/images/galeria/barranquismo/barranquismo6.jpg" data-lightbox="barranquismo" data-title="Barranquismo"><img src="../assets/images/galeria/barranquismo/barranquismo6.jpg" alt="barranquismo"></a>
                </div>
            </div>

            <div class="container-galeria">
                <div class="titulo-galeria">
                    <h3>ciclismo</h3>
                    <p>¡Maravillosas rutas por la montaña a toda velocidad!</p>
                </div>
                <div class="galeria">
                    <a href="../assets/images/galeria/ciclismo/ciclismo1.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo1.jpg" alt="ciclismo"></a>
                    <a href="../assets/images/galeria/ciclismo/ciclismo2.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo2.jpg" alt="ciclismo"></a>
                    <a href="../assets/images/galeria/ciclismo/ciclismo3.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo3.jpg" alt="ciclismo"></a>
                    <a href="../assets/images/galeria/ciclismo/ciclismo4.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo4.jpg" alt="ciclismo"></a>
                    <a href="../assets/images/galeria/ciclismo/ciclismo5.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo5.jpg" alt="ciclismo"></a>
                    <a href="../assets/images/galeria/ciclismo/ciclismo6.jpg" data-lightbox="ciclismo" data-title="Ciclismo"><img src="../assets/images/galeria/ciclismo/ciclismo6.jpg" alt="ciclismo"></a>                    
                </div>
            </div>
            
            <div class="container-galeria">
                <div class="titulo-galeria">
                    <h3>esquí y snow</h3>
                    <p>¡Sube con nosotros y lanzate por la nieve!</p>
                </div>
                <div class="galeria">
                    <a href="../assets/images/galeria/esqui-y-snow/nieve1.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve1.jpg" alt="esqui y snow"></a>
                    <a href="../assets/images/galeria/esqui-y-snow/nieve2.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve2.jpg" alt="esqui y snow"></a>
                    <a href="../assets/images/galeria/esqui-y-snow/nieve3.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve3.jpg" alt="esqui y snow"></a>
                    <a href="../assets/images/galeria/esqui-y-snow/nieve4.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve4.jpg" alt="esqui y snow"></a>
                    <a href="../assets/images/galeria/esqui-y-snow/nieve5.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve5.jpg" alt="esqui y snow"></a>
                    <a href="../assets/images/galeria/esqui-y-snow/nieve6.jpg" data-lightbox="esqui-y-snow" data-title="Esquí y Snow"><img src="../assets/images/galeria/esqui-y-snow/nieve6.jpg" alt="esqui y snow"></a>

                </div>
            </div>

            <div class="container-galeria">
                <div class="titulo-galeria">
                    <h3>senderismo</h3>
                    <p>Fantásticas rutas y paseos en plena naturaleza</p>
                </div>
                <div class="galeria">
                    <a href="../assets/images/galeria/senderismo/senderismo1.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo1.jpg" alt="senderismo"></a>
                    <a href="../assets/images/galeria/senderismo/senderismo2.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo2.jpg" alt="senderismo"></a>
                    <a href="../assets/images/galeria/senderismo/senderismo3.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo3.jpg" alt="senderismo"></a>
                    <a href="../assets/images/galeria/senderismo/senderismo4.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo4.jpg" alt="senderismo"></a>
                    <a href="../assets/images/galeria/senderismo/senderismo5.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo5.jpg" alt="senderismo"></a>
                    <a href="../assets/images/galeria/senderismo/senderismo6.jpg" data-lightbox="senderismo" data-title="Senderismo"><img src="../assets/images/galeria/senderismo/senderismo6.jpg" alt="senderismo"></a>
                </div>
            </div>
            
        </section>   
   </main>

    <footer class="index-footer">
        <div class="copy-rrss">
           <div class="copy">
               <p>© 2023 Aventuras Gato Pardo. Todos los derechos reservados.</p>
           </div>
           <div class="container-rrss">
               <div class="rrss">
                <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img class="facebook" src="../assets/images/rrss/facebook.png" alt="facebook"></a>
                <a href="https://twitter.com" target="_blank"><img class="twitter" src="../assets/images/rrss/twitter.png" alt="twitter"></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="instagram" src="../assets/images/rrss/instagram.png" alt="instagram"></a>
                <a href="https://www.youtube.com/" target="_blank"><img class="youtube" src="../assets/images/rrss/youtube.png" alt="youtube"></a>
                  
               </div>
           </div>
        </div>
        <div class="enlaces">
            <div class="aviso">
              <a href="../assets/documents/avisoLegal.pdf" target="_blank">Aviso Legal</a>
            </div>
            <div class="f-mapa">
              <a href="https://www.google.com/maps/place/C.+la+Barrera,+3,+28743+Canencia,+Madrid/@40.9060149,-3.7405985,17z/data=!3m1!4b1!4m6!3m5!1s0xd43e003792d1dc5:0x684f7bfd6e8c7495!8m2!3d40.9060149!4d-3.7387683!16s%2Fg%2F11c2dgbpkt?entry=ttu&g_ep=EgoyMDI0MDkxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Donde estamos</a>
            </div>
            <div class="f-contacto">
              <a href="mailto:correo@ejemplo.com">Contacto</a>
            </div>
        </div>
    </footer>

    <script src="../lightbox/js/lightbox-plus-jquery.js"></script>
    <script src="../js/galeria.js"></script>
    
</body>
</html>